@typeparam T

<Modal Title="Удаление"
       Visible="@Visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <p>Вы уверены что хотите удалить объект @ObjectName?</p>
</Modal>

@code {
    
}
