<div class="row">
    <div class="col-1">
        @if (VDEW?.ProfilePhoto == null)
        {
            <img class="rounded img-fluid" src="../img/no-img.jpg" alt="">
        }
        else
        {

        }
    </div>
    <div class="col-8">
        <h5>@VDEW?.Name</h5>
        
        <p>@VDEW?.Email</p>
    </div>
    <div class="col-3 text-end">
        <button type="button" class="btn btn-secondary me-2" @onclick="ShowModalChangeVdewWindow">Изменить</button>
        <button type="button" class="btn btn-secondary" @onclick="(() => DeleteVDEW.InvokeAsync(VDEW))">Удалить</button>
    </div>
</div>
@if (IsVisibleModalChangeVdewWindow)
{
    <ChangeVDEWModalWindow Visible="IsVisibleModalChangeVdewWindow" VDEW="@VDEW"></ChangeVDEWModalWindow>
}


@code {

    [Parameter]
    public User? VDEW { get; set; }

    [Parameter] 
    public EventCallback<User> DeleteVDEW { get; set; }

    private bool IsVisibleModalChangeVdewWindow { get; set; }

    public void ShowModalChangeVdewWindow()
    {
        IsVisibleModalChangeVdewWindow = !IsVisibleModalChangeVdewWindow;
    }

    void SaveVDEW(User user)
    {

    }
}
