@using CuratorMagazineWebAPI.Models.Entities.Domains
<button class="row mt-3 mb-2 text-start border-0" data-bs-toggle="modal" data-bs-target="#studInfoModal">
    <div class="col-md-3">
        @if (student.ProfilePhoto == null)
        {
            <img class="rounded img-fluid" src="../img/no-img.jpg" alt="">
        }
        else
        {
            @*Пометка надо придумать как фотку поставить*@
        }

    </div>
    <div class="col-md-8">
        <h5>@student.Name</h5>
        <p>@student.BirthDate</p>
    </div>
</button>
<hr class="m-0">

@code {
    [Parameter]
    public User? student { get; set; }
}
