<div class="row group rounded">
    <div class="col-md-1">
        <img class="rounded img-fluid mt-1" src="../img/no-img.jpg" alt="">
    </div>
    <div class="col-md-8 mt-1">
        <h5><a class="text-dark" style="text-decoration: none;">@Group.Name</a></h5>
        <p>@Curator?.Name</p>
    </div>
    @if (CurrentUser?.Role?.Name == "Curator")
    {
        <div class="col-md-3 text-end mt-3">
            <a href="../Curator/cur3.html" type="button" class="btn btn-secondary me-2">Изменить</a>
        </div>
    }
</div>

@code {
    
} 
