<div class="container my-4 bg-secondary bg-opacity-50">
    <div class="container-fluid">
        <BodySearchBar></BodySearchBar>
        <div class="overflow-auto container scroll text-white">
            @if (_groups == null || _groups.Count == 0)
            {
                <Skeleton Active=true></Skeleton>
            }
            else
            {
                @foreach (var item in _groups)
                {
                    <IndividualGroup Group="item"></IndividualGroup>
                }
            }
        </div>
        <div class="row">
            <div class="row-md text-center mb-2">
                <hr>
                @if(CurrentUser!.Role!.Id == _role!.Id)
                {
                    <a href="../Curator/cur3.html" type="button" class="btn btn-secondary">Добавить</a>
                }
            </div>
        </div>
    </div>
</div>
