@page "/groups"

<div class="container my-4 bg-secondary bg-opacity-50">
    <div class="container-fluid">
        <BodySearchBar></BodySearchBar>
        <div class="overflow-auto container scroll">
            @if (Groups != null)
            {
                @if (Groups == null || Groups.Count == 0)
                {
                    <Skeleton Active=true></Skeleton>
                }
                else
                {
                    foreach (var item in Groups)
                    {
                        @*if (item.Division?.Name == CurrentUser.Division?.Name)
                        {*@
                            <IndividualGroupVDEW Group="item"></IndividualGroupVDEW>
                        @*}*@
                    }
                }
            }
            else
            {
                //ChangeOnDefaultStateRoleNavBar();
            } 
        </div>
        <div class="row">
            <div class="row-md text-center mb-2">
                <hr>
                <button type="button" class="btn btn-secondary" @onclick="ModalAddGroupWindow">Добавить</button>
                @if (IsVisibleModalAddGroupWindow)
                {
                    <AddGroupModalWindow Visible="IsVisibleModalAddGroupWindow" ChangeVisible="ShowModalAddGroupWindowParam" CurrentUser="CurrentUser"></AddGroupModalWindow>
                }
            </div>
        </div>
    </div>
</div>
          